body {
	overflow-x:hidden;
}
.line2 {
	z-index: 80;
}
/*Nav*/
div#menuF.fixed-nav {
	position: fixed;
	top: 0px;
	background-image: url('../images/polynav.png');
	background-repeat: no-repeat;
	background-position-x: center;
	width: 100%;
	overflow: visible;
	max-height: 160px;
	z-index: 9999;
}
div#menuF {
	overflow: visible !important;
	position: relative;
	z-index: 9999;
}
div#menuF .row {
	height: 158px;
}
.logo div a img {
	position: relative;
	z-index: 9999;
}

 
/*************************************************************** 
				Header / Slideshow
***************************************************************/
.headerLine{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.gallery {
	height: 200px;
}

.headerline:hover, .gallery:hover, .nav-hover:hover {
	cursor: url('../images/cursor.png'), auto;
}

canvas#heading-canvas {
	position: absolute;
	top: 0;
	left: 0;
	cursor: url('../images/cursor.png'), auto;
}
div.entry-text p {
	font-family: 'Open Sans',sans-serif;
	font-size: 45px;
	font-weight: 700;
	letter-spacing: -2px;
	color: #fff;
	width: auto;
	position: relative;

}

#slide1, #slide2{
	position: absolute;
	top:100px;
	left:-400px;
	z-index: 90;

}
#slide1 p, #slide2 p {
	padding-left: 500px;
}

p.slide-underline {
	display: inline-block;
	border-bottom: 5px solid red;
	
}
p.savor-title-slide {
	font-size: 90px !important;
	display: inline-block;
	border-bottom: 5px solid red;
	padding-left: 500px;
}

/*************************************************************** 
				Portfolio
***************************************************************/

.pretty .gall a:hover .img-responsive{
	background: #000;
	opacity: 0.4;
}
.portfolio-magic {
	background: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 15px;
	right: 15px;
	display: none;
	
}

p.portfolio-title {
	color: #fff;
	width: 100%;
	text-align: center;
	font-size: 24px;
}

/*************************************************************** 
				Prealoader
***************************************************************/

#swpreloader {
	height: 50px;
	width: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	right:50%;
	bottom: 50%;
	background: #333;
	visibility: hidden;
}
#preload-container {	
	visibility: hidden;
}


/*************************************************************** 
				centPic Animation
***************************************************************/
div.centPic {
	overflow: hidden;
}
.centPic img {
	position: relative;
	z-index: 300;

}



/*************************************************************** 
				centPic Animation
***************************************************************/
@media (min-width: 520px) {
	
	div.entry-text h2 {
		font-size: 50px;
	}
}
@media (min-width: 960px) {
	.gallery {
		height: 400px;
	}
	div.entry-text h2 {
		font-size: 80px;
		bottom: 80px;
		left: 40px;
		border-bottom: 5px solid #f00;
	}
}