{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

<div id="home">
				<div class="headerLine entry-headerline" id="main-heading">

					<div id="menuF" class="default">
						<div class="container" id="navbar-fix">
							<div class="row">
								<div class="logo col-md-4">
									<div>
										<a href="{{ siteUrl }}">
											<img src="{{ siteUrl }}images/logo.png" alt="SavorWeb Logo">
										</a>
									</div>
								</div>
								<div class="col-md-8">
									<div class="navmenu" style="text-align:center;">
										<ul id="menu">
											<li class="active"><a href="{{ siteUrl }}#home">Home</a></li>
											<li><a href="{{ siteUrl }}#project">Projects</a></li>
											<li><a href="{{ siteUrl }}#about">About</a></li>
											<li><a href="{{ siteUrl }}#news">News</a></li>
											<li class="last"><a href="{{ siteUrl }}#contact">Contact</a></li>
										</ul>
									</div>
									<ul class="soc">
										<li class="soc2"><a href="http://www.facebook.com/savorweb"></a></li>
										<li class="soc3"><a href="http://www.twitter.com/savorweb"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="container">
						<canvas id="heading-canvas"></canvas>
					</div>

				</div><!-- end of headerline -->

<div class="container news-container">
	<article>
		{% set image = entry.featuredImage.first() %}
			{% if image %}
				<img class="img-responsive" src="{{ siteUrl }}{{ image.url }}"/>
			{% endif %}
			
				<h1>{{ entry.title }}</h1>
				<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
				<p>{{ entry.body }}</p>
			
	</article>
	<aside class="other-articles">
		<hr>
		<h3>Other Articles</h3>
		<hr>
		<ul class="clearfix">
			{% for entry in craft.entries.section('news').limit(10) %}
			<li>
				<small>{{ entry.postDate.format('F d, Y') }}</small>
				<a href="{{ entry.url }}">{{ entry.title }}</a>
			</li>
			{% endfor %}
		</ul>
	</aside>
</div>
{% endblock %}
