{#
	# Homepage template
	# ---------------
	#
	# When this template gets loaded, it will be because someone has accessed
	# http://yoursite.com/ (without any URI). Craft checks to see if you have
	# a Single section set to be the Homepage (as you do, by default), and
	# loads the section’s Template (this file). A special ‘entry’ variable
	# will already be set for you, assigned to the Homepage entry.
	#
	# It's worth noting that even if you didn't have a Homepage Single section,
	# as long as this template remains at craft/templates/index.html, it
	# would still be the one to get loaded when accessing http://yoursite.com/,
	# albeit without an ‘entry’ variable already set for you.
	#
	# See this page for more details on how Craft routes requests:
	# http://buildwithcraft.com/docs/routing
	#}

	{% extends "_layout" %}

	{% block content %}

<div id="home">
				<div class="headerLine" id="main-heading">

					<div id="menuF" class="default">
						<div class="container" id="navbar-fix">
							<div class="row">
								<div class="logo col-md-4">
									<div>
										<a href="{{ siteUrl }}">
											<img src="{{ siteUrl }}images/logo.png" alt="SavorWeb Logo">
										</a>
									</div>
								</div>
								<div class="col-md-8">
									<div class="navmenu" style="text-align:center;">
										<ul id="menu">
											<li class="active"><a href="#home">Home</a></li>
											<li><a href="#project">Projects</a></li>
											<li><a href="#about">About</a></li>
											<li><a href="#news">News</a></li>
											<li class="last"><a href="#contact">Contact</a></li>
										</ul>
									</div>
									<ul class="soc">
										<li class="soc2"><a href="http://www.facebook.com/savorweb"></a></li>
										<li class="soc3"><a href="http://www.twitter.com/savorweb"></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>


					<div class="container">
						<div class="row wrap">
							<div class="col-md-12 gallery"> 
								<div id="gallery_wrapper">
									<div id="slide1" class="entry-text">
										{{ entry.rotatorLine1 }}
									</div>

									<div id="slide2" class="entry-text">
										{{ entry.rotatorLine2 }}
									</div>
								</div><!-- #gallery_wrapper -->
							</div>
						</div>
						<canvas id="heading-canvas"></canvas>
					</div>

				</div><!-- end of headerline -->


	<div class="container">
		<div class="row intro-row">
			<div class="col-md-5 cBusiness">
				<h3>{{ entry.mainTitle }}</h3>
				<p>{{ entry.mainSubhead }}</p>
			</div>
			<div class="col-md-7 featurePic">
				{% set iphone = entry.topFeatureImage.first() %}
				{% if iphone %}
				<div class="iphone">
					<img class="img-responsive"  src="{{ iphone.url }}"/>
				</div>
				{% endif %}
				{% set ipad = entry.middleFeatureImage.first() %}
				{% if ipad %}
				<div class="ipad">
					<img class="img-responsive"  src="{{ ipad.url }}"/>
				</div>
				{% endif %}
				{% set imac = entry.featureImage.first() %}
				{% if imac %}
				<div class="imac">
					<img class="img-responsive"  src="{{ imac.url }}"/>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4 project">
				<h3 id="counter">0</h3>
				<h4>{{ entry.metric1Title }}</h4>
				<p>{{ entry.metric1Body }}</p>
			</div>
			<div class="col-md-4 project">
				<h3 id="counter1">0</h3>
				<h4>{{ entry.metric2Title }}</h4>
				<p>{{ entry.metric2Body }}</p>
			</div>
			<div class="col-md-4 project">
				<h3 id="counter2" style="margin-left: 20px;">0</h3>
				<h4 style="margin-left: 20px;">{{ entry.metric3Title }}</h4>
				<p>{{ entry.metric3Body }}</p>
			</div>
		</div>
	</div>
</div>


<!--project start-->    
<div id="project">    	
	<div class="line3" id="line3-container">
		<canvas id="line3-canvas"></canvas>
		<div class="container">
			<div class="row Ama">
				<div class="col-md-12">
					<h3>{{ entry.projectHeader }}</h3>
					<p>{{ entry.projectHeaderBody }}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div id="gallery" class="row clearfix">
<!-- 			<div id="options" class="ftg-filters col-md-12" style="text-align: center;">
				<a href="#">All</a>
				<a href="#web">Web Design</a>
				<a href="#design">Branding</a>
			</div> -->
			<div class="ftg-items">
				<ul id="gallery-items" class="ftg-items">
					{% for image in craft.assets.sourceId('1').limit(12) %}
					<li class="tile {% for tag in image.tags %} {{ tag.name }} {% endfor %}">
						<a class="tile-inner" href="{{ image.getUrl() }}" rel="prettyPhoto[gallery2]">
							<img class="item" src="{{ image.getUrl() }}" alt="{{ image.title }}"/>
							<div class="caption">
								<p>{{ image.title }}</p>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>		
		</div>
	</div>
</div>    

<!--about start-->

<div id="about">
	<div class="line2" id="line2-container">
		<canvas id="line2-canvas"></canvas>
		<div class="container">
			<div class="row Fresh">
				<div class="col-md-4 Des">
					<img class="img-responsive" src="{{siteUrl}}images/home/globe.png" alt="">
					<h4>{{ entry.perkTitle1 }}</h4>
					<p>{{ entry.perk1 }}</p>
				</div>
				<div class="col-md-4 Ver">
					<img class="img-responsive" src="{{siteUrl}}images/home/eye.png" alt="">
					<h4>{{ entry.perkTitle2 }}</h4>
					<p>{{ entry.perk2 }}</p>
				</div>
				<div class="col-md-4 Fully">
					<img class="img-responsive" src="{{siteUrl}}images/home/graph.png" alt="">
					<h4>{{ entry.perkTitle3 }}</h4>
					<p>{{ entry.perk3 }}</p>
				</div>		
			</div>
		</div>
	</div>
	
	<div class="container our-process">
		<div class="row">
			<div class="col-md-12 hr1">
				<h2>Our Creative Offerings</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 bar">
				<div class="progB chart" data-percent="{{ entry.skill1Percent }}"  data-animate="3500">
					<div class="chart chart-content">
						<div class="percentage" data-percent="{{ entry.skill1Percent }}">
							<span class="percent">{{ entry.skill1Percent }}</span>
						</div>
					</div>
				</div>
				<div class="textP">
					<h3>{{ entry.skill1 }}</h3>
					<p>{{ entry.skill1Body }}</p>
				</div>
			</div>
			<div class="col-md-3 bar">
				<div class="progB chart" data-percent="{{ entry.skill2Percent }}"  data-animate="3500">
					<div class="chart chart-content">
						<div class="percentage" data-percent="{{ entry.skill2Percent }}">
							<span class="percent">{{ entry.skill2Percent }}</span>
						</div>
					</div>
				</div>
				<div class="textP">
					<h3>{{ entry.skill2 }}</h3>
					<p>{{ entry.skill2Body }}</p>
				</div>
			</div>
			<div class="col-md-3 bar ">
				<div class="progB chart" data-percent="{{ entry.skill3Percent }}"  data-animate="3500">
					<div class="chart chart-content">
						<div class="percentage" data-percent="{{ entry.skill3Percent }}">
							<span class="percent">{{ entry.skill3Percent }}</span>
						</div>
					</div>
				</div>
				<div class="textP">
					<h3>{{ entry.skill3 }}</h3>
					<p>{{ entry.skill3Body }}</p>
				</div>
			</div>
			<div class="col-md-3 bar ">
				<div class="progB chart" data-percent="{{ entry.skill4Percent }}"  data-animate="3500">
					<div class="chart chart-content">
						<div class="percentage" data-percent="{{ entry.skill4Percent }}">
							<span class="percent">{{ entry.skill4Percent }}</span>
						</div>
					</div>
				</div>
				<div class="textP">
					<h3>{{ entry.skill4 }}</h3>
					<p>{{ entry.skill4Body }}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container services">
		<div class="row">
			<div class="col-md-12 hr1">
				<hr style="margin-bottom: 50px; margin-top: -50px;">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 serv-item">
				<img class="img-responsive" src="{{siteUrl}}/images/serv-1.png" alt="">
				<h3>SavorCMS™ Content Management Solutions</h3>
				<p>Many businesses like to update their own websites. We have a solution for that. Our SavorCMS website editors are plugged in to your design, allowing you to easily manage all the text and images on your web pages in a secure and safe environment. Sound complicated? Not really. We take care of the hard stuff while providing a free training session and knowledgeable customer support at your fingertips.</p>
			</div>
			<div class="col-md-4 serv-item">
				<img class="img-responsive" src="{{siteUrl}}/images/serv-2.png" alt="">
				<h3>SavorMail™ Email Newsletter Campaigns</h3>
				<p>Fed up with monthly fees and outdated templates? Our SavorMail™ technology allows you to customize your next e-mail blast of any size like a pro. Store and organize your contact lists while using flexible templates that actually look like your website. Include a simple form on your website that drops subscribers directly into your mailing lists. Best of all, you only pay when you use it.</p>
			</div>
			<div class="col-md-4 serv-item">
				<img class="img-responsive" src="{{siteUrl}}/images/serv-3.png" alt="">
				<h3>Social Media Optimization</h3>
				<p>Take advantage of the growing popularity of social media websites like Facebook, Twitter and Google+. We'll develop a strategy based on your needs to broaden your exposure where it matters most. From custom landing pages resulting in increased followers to a consistent brand for your business, you'll "like" our social media services.</p>
			</div>		
		</div>
		<div class="row">
			<div class="col-md-4 serv-item">
				<img class="img-responsive" src="{{siteUrl}}/images/serv-4.png" alt="">
				<h3>E-Commerce Websites</h3>
				<p>Are you selling a product or service? SavorWeb makes it easy to take your storefront online with intuitive product management and payment gateway tools. We understand that no two businesses are the same, so we offer a variety of e-commerce solutions with all the trimmings. Find a price to suit your needs and we'll help make it uniquely your own.</p>
			</div>
			<div class="col-md-4 serv-item">
				<img class="img-responsive" src="{{siteUrl}}/images/serv-5.png" alt="">
				<h3>Search Engine Optimization (SEO)</h3>
				<p>Having trouble finding your website on the search engines? Your customers probably are too. We've got all the ingredients to cook up the online visibility that your business needs. With proven results in today's most popular search engines like Google, Bing and Yahoo, we provide automated reports with numbers that make sense delivered right to your Inbox. Based on your needs, we can work with Google AdWords, Facebook ads and other social media tools to bolster your online presence.</p>
			</div>
			<div class="col-md-4 serv-item">
				<img class="img-responsive" src="{{siteUrl}}/images/serv-6.png" alt="">
				<h3>Website Maintenance</h3>
				<p>WordPress, Drupal, Joomla, .NET, Shopify and the list goes on and on. Chances are you’ve been working with some web guys in your chosen platform and now you’re trying to find a better resource. From minor text revisions to a complete website overhaul, we can breathe new life into your web pages in no time.</p>
			</div>		
		</div>
	</div>
</div>

<!--news start-->

<div id="news">
	<div class="line4" id="line4-container">
		<canvas id="line4-canvas"></canvas>
		<div class="container">
			<div class="row Ama">
				<div class="col-md-12">
					<h3>{{ entry.newsHeader }}</h3>
					<p>{{ entry.newsHeaderBody }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row news">

			{% for entry in craft.entries.section('news').limit(4) %}
			{% set image = entry.featuredImage.first() %}
			<div class="col-md-6  text-left">
				{% if image %}
				<a href="{{ entry.url }}"><img class="img-responsive picsGall" src="{{ image.url }}"/></a>
				{% endif %}
				<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
				<ul>
					<li><i class="fa fa-calendar"></i>{{ entry.postDate.format('F d, Y') }}</li>
					{% if entry.tags %}
					{% for tag in entry.tags %}<li><a href="#"><i class="fa fa-tag"></i> {{ tag.name }}</a></li>{% endfor %}
					{% endif %}
					<!-- <li><a href="#"><i class="fa fa-comments"></i>17 comments</a></li> -->
				</ul>
				<p>{{ entry.summary }} <a class="readMore" href="{{ entry.url }}">Read More <i class="fa fa-angle-right"></i></a></p>
				<hr class="hrNews">
			</div>
			{% endfor %}


		</div>
	</div>
</div>


<!--contact start-->

<div id="contact">
	<div class="line5" id="line5-container">
		<canvas id="line5-canvas"></canvas>				
		<div class="container">
			<div class="row Ama">
				<div class="col-md-12">
					<h3>{{ entry.questionHeader }}</h3>
					<p>{{ entry.questionHeaderBody }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-xs-12 forma">
				<form>
					<input type="text" class="col-md-6 col-xs-12 name" name='name' placeholder='Name *'/>
					<input type="text" class="col-md-6 col-xs-12 Email" name='Email' placeholder='Email *'/>
					<input type="text" class="col-md-12 col-xs-12 Subject" name='Subject' placeholder='Subject'/>
					<textarea type="text" class="col-md-12 col-xs-12 Message" name='Message' placeholder='Message *'></textarea>
					<div class="cBtn col-xs-12">
						<ul>
							<li class="send"><a href="#"><i class="fa fa-share"></i>Send Message</a></li>
						</ul>
					</div>
				</form>
			</div>
			<div class="col-md-3 col-xs-12 cont">
				<ul>
					<li><strong>SavorWeb</strong> <br>409 E. Coeur d'Alene Avenue, <br>Coeur d'Alene, ID 83814</li>
					<li><i class="fa fa-phone"></i>(208) 640-3074</li>
					<li><a href="mailto:Info@savorweb.com"><i class="fa fa-envelope"></i>Info@SavorWeb.com</li></a>
					<li><a href="http://www.twitter.com/savorweb"><i class="fa fa-twitter"></i>Twitter</li></a>
					<li><a href="http://www.facebook.com/savorweb"><i class="fa fa-facebook-square"></i>Facebook</li></a>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row aboutUs">
			<div class="col-md-12 ">
				<hr>
				<h3>{{ entry.theader }}</h3>
			</div>
		</div>
	</div>
	<div style="position: relative;">
		{% set tphoto1 = entry.tphoto1.first() %}
		{% set tphoto2 = entry.tphoto2.first() %}
		{% set tphoto3 = entry.tphoto3.first() %}
		{% set tphoto4 = entry.tphoto4.first() %}
		<div class="container">
			<div class="row about">
				<div class="col-md-6">
					<div class="about1">
						{% if tphoto1 %}
						<img class="pic1Ab" src="{{ tphoto1.url }}">
						{% endif %}
						<h3>{{ entry.ttitle1 }}</h3>
						<p>{{ entry.tbody1 }}</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="about2">
						{% if tphoto2 %}
						<img class="pic2Ab" src="{{ tphoto2.url }}">
						{% endif %}
						<h3>{{ entry.ttitle2 }}</h3>
						<p>{{ entry.tbody2 }}</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="horL"></div>
		
		<div class="container">
			<div class="row about">
				<div class="col-md-6">
					<div class="about1">
						{% if tphoto3 %}
						<img class="pic1Ab" src="{{ tphoto3.url }}">
						{% endif %}
						<h3>{{ entry.ttitle3 }}</h3>
						<p>{{ entry.tbody3 }}</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="about2">
						{% if tphoto4 %}
						<img class="pic2Ab" src="{{ tphoto4.url }}">
						{% endif %}
						<h3>{{ entry.ttitle4 }}</h3>
						<p>{{ entry.tbody4 }}</p>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	{% endblock %}
